.game .winner {
  color: #090;
}
.game .loser {
  color: #900;
}
.game .me {
  background-color: #eee;
  padding: 3px;
  border-radius: 3px;
}
.highscore .me {
  background-color: #eee;
}
.highscore .inactive , .highscore .inactive a {
  color: gray;
}
.rounds td {
  white-space: nowrap;
}

.player1 {
  color: steelblue;
}

.player2 {
  color: red;
}

#timegraph {
  /* box-shadow: 2px 2px 8px rgba(1,1,1,0.1); */
  margin-top: 10px;
  margin-bottom: 10px;
}

.control {
  float: right;
  color: green;
}

#planets {
  box-shadow: 2px 2px 20px rgba(1,1,1,0.4);
  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}


table .header-fixed {
  position: fixed;
  top: 40px;
  z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
  border-bottom: 1px solid #d5d5d5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
     -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
}
